@model IEnumerable<SaveTheSnails.Web.Areas.Coordinators.ViewModels.MissionViewModel>
@{
    ViewBag.Title = "AllMissions";
}

<h2>AllMissions</h2>

@foreach (var mission in Model)
{

   foreach (var problem in mission.Problems)
    {
        <div>@problem.Title</div>
    }
    
}



