<hr />
<br />
<div class="container">
    
    <div class="row well">
        <div class="col-md-6">
            <img src="~/img/save_the_snails_f.jpg" class="img-circle"/>
        </div>
        <div class="col-md-6" >
            <img src="~/img/save_the_snails_m.jpg" class="img-circle"/>
        </div>
    </div>
</div>
