@model IEnumerable<SaveTheSnails.Web.ViewModels.Home.IndexProblemViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>Problems</div>
@foreach (var problem in Model)
{
    <div>@problem.Title</div>
}