@model IEnumerable<SaveTheSnails.Web.ViewModels.Home.IndexProblemViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>Problems</div>
@foreach (var problem in Model)
{
    <div>@problem.Title</div>
}
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas"></div>
  <input type="text" id="latitude-textbox" />
  <input type="text" id="longitude-textbox" />
