@using SaveTheSnails.Web.Areas.Users.ViewModels;
@model FilterProblemsViewModel
@{
    ViewBag.Title = "All";
}

<h2>All Problems </h2>
<div class="row">
    @using (Html.BeginForm("All", "Problem", FormMethod.Get))
    {
        <div class="col-md-4">
            @(Html.Kendo()
            .DropDownList()
            .Name("category")
            .HtmlAttributes(new { style = "width: 100%" })
            .DataTextField("Text")
            .DataValueField("Value")
            .OptionLabel("Choose category")
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action("GetCategories", "Problem"));
            }))
        </div>
        <div class="col-md-4">
            @(Html.Kendo()
            .DropDownList()
            .Name("region")
            .HtmlAttributes(new { style = "width: 100%" })
            .DataTextField("Text")
            .DataValueField("Value")
            .OptionLabel("Choose region")
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action("GetRegions", "Problem"));
            }))
        </div>
        <div class="col-md-4">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    }
</div>
<br />
<br />
<div class="container">
    <div class="row k-header">
        <div class="col-md-2">
            <h4>Title</h4>
        </div>
        <div class="col-md-2">
            <h4>Category</h4>
        </div>
        <div class="col-md-3">
            <h4>Reporter</h4>
        </div>
        <div class="col-md-2">
            <h4>Region</h4>
        </div>
    </div>
</div>

@(Html.Kendo()
            .ListView<AllProblemsListViewModel>()
            .TagName("div")
            .Name("all-problems")
            .Pageable()
            .ClientTemplateId("all-problems-template")
            .DataSource(dataSource =>
            {
                dataSource
                    .ServerOperation(true)
                    .PageSize(5)
                    .Read(read => read.Action("ReadProblems", "Problem", new { category = Model.category, region = Model.region }));
            }))


<script id="all-problems-template" type="text/x-kendo-tmpl">
    <br />
    <div class="row">
        <div class="col-md-2">
            <a href="/Users/Problem/Details/#= Id #">#= Title #</a>
        </div>
        <div class="col-md-2">
            #= CategoryName #
        </div>
        <div class="col-md-3">
            #= ReporterName #
        </div>
        <div class="col-md-2">
            #= RegionName #
        </div>
    </div>
    <br />
</script>
