@model SaveTheSnails.Web.Areas.Users.ViewModels.ProblemDetailsVewModel

@{
    ViewBag.Title = "Details";
}
@section styles {
    @Styles.Render("~/Content/googlemaps")
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Slider", Model.Pictures)
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Map")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/googlemaps")
}
