
@{
    ViewBag.Title = "Navigation";
}

<h2>Navigation</h2>

@(Html.Kendo()
      .Calendar()
      .Name("calendar"))

@section scripts{
    <script>
      //  alert('Hello');
    </script>    
    
}